body {
    background-color:black;
    font-family:arial;
    color:white}
h1{
    color:grey;
    font-family:verdana
}
.maindiv{
    background-color:white; 
    border-radius: 25px;
    color: black;
    width: 480px;
    padding: 20px;
    margin: auto;
    align-items: center;
}
input, select, button{
    margin: 10px;
    align-items: center
    
}
#result{
    margin: 10px;
    text-align: left;
}

